<!--@subject UPS return label @-->
 
<div align="center" style="text-align: center;">
	<img src="http://repairem.com/media/buyback-email.jpg" alt="Thank you for submitting! Every contribution helps fight e-waste." />
</div>
<div>
<p style="font-family: Arial, sans-serif;"><font face="Arial" style="font-family: Arial, sans-serif;">Our goal is simply to provide you with the most value for your device.<br /><br />
Click below to download your pre-paid shipping label. Please also make sure to print and include this email with your shipment. This email is your packing slip.</font></p>
<p style="font-family: Arial, sans-serif;"><font face="Arial" style="font-family: Arial, sans-serif;"><a href="{{var labelhash}}">CLICK HERE TO VIEW AND PRINT YOUR PRE-PAID UPS LABEL</a></font></p>
</div>

<div style="font-family: Arial, sans-serif;"><font face="Arial" style="font-family: Arial, sans-serif;">
{{var postinfo}}
</font></div>